* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}



.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}


@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* end of global rules */

/* header style */

.header {
    background-color: red;
    padding: 20px;

}

.header .container {
    display: flex;
    background-color: green;
    justify-content: space-between;
    align-items: center;
}

/* links style */

.header .links {
    background-color: yellow;
    position: relative;
}

.header .links:hover .icon span:nth-of-type(2) {
    width: 100%;

}

/* header logo */

.header .logo {
    width: 59px;
}

.header .logo img {
    width: 100%;
}

/* header icon */

.header .icon {
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;


}

.header .icon span {
    width: 100%;
    background-color: black;
    height: 2px;
    margin-bottom: 7px;
}


.header .icon span:nth-of-type(2) {
    width: 70%;
    transition: .3s;

}

/* ul style*/
.header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: aqua;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
}

.header ul::before {
    content: "";
    border-width: 10px;
    border-color: transparent transparent green transparent;
    border-style: solid;
    position: absolute;
    right: 5px;
    top: -20px;

}

.links ul li {
    display: block;
    padding: 15px;
}

.links ul li a {
    text-decoration: none;
}

/* end of header styles */